.edu{
    background-color: rgba(177, 177, 177, 0.461);
}

#dark {
    background-color: rgb(170, 169, 169);
}

#dark u{
    color: rgb(26, 25, 25) !important;
}

#dark .edu-card{
    filter: brightness(80%);
}